<!doctype html>
<html lang="en-US">
  <head>
    <title>Contact App</title>
    <meta charset="UTF-8">
  </head>
  <body>

    <header>
      <h1>Contact List App</h1>
    </header>

    <main>
      <%= yield %>
    </main>
    <a href="/">Return to contact list</a>
    <footer style="float: right;
    height: 35px;
    margin: 0px 50px 0px 0px;
    background: #9FF;
    color: #000;
    text-align: right;
    padding: 10px 30px;
    width: 180px;">
      Authors: Gilles V. and Juan G.
    </footer>
  </body>
</html>