<form method="post" action="/create">
  <label for="new_contact">Add a new contact:</label>
  <div>
    <p>Name: </p> <input name="name" id="name" />
    <br>
    <p>Number: </p> <input name="number" id="number" />
    <br>
    <p>Email: </p> <input name="email" id="email" />
    <br>
    <p>Category: </p> <input name="category" id="category" />
    <br>
    <button type="submit">Create</button>
  </div>
</form>